{% extends "base.html" %}

{% block title %}
月のカテゴリ別支出のグラフ | 家計簿アプリ
{% endblock %}

{% block content %}

    <section class="page-header">
        <h1>月のカテゴリ別支出のグラフ</h1>
        <p>指定した月の支出をカテゴリ別のグラフで確認します。</p>
    </section>

    <div class="page-actions link-box">
        <a
            class="backtop-link"
            href="{{ url_for('index') }}">
            トップページへ戻る
        </a>
    </div>

    {% if errors %}
        <div 
            class="error-box link-box"
            role="alert">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form
        class="search-card"
        method="post"
    >

        <div class="search-field">
            <label class="form-label" for="month">年月</label>
            <input
            class="form-control"
            type="month"
            name="month"
            id="month"
            value = "{{ month }}"
            >
        </div>

        <button
            class="submit-button"
            type="submit">
            グラフを表示する
        </button>
    </form>

    {% if data_exists is true %}
        <section class="result-section">
            <div class="result-header">
                <h2>{{ month }}のカテゴリ別支出グラフ</h2>
                
                <a 
                    class="text-link"
                    href="{{ url_for('category_summary', month = month) }}">
                    表で見る
                </a>
            </div>
        
        
            <div class="graph-card">
                <img
                    class="graph-image"
                    src="{{url_for(
                        'static',
                        filename = 'graphs/' ~ graph_filename,
                        v = graph_version 
                    )}}"
                    alt="{{ month }}のカテゴリ別支出グラフ"
                >
            </div>
        </section>

    {% elif data_exists is false %}
        <p class="empty-message link-box">
            指定された月の家計簿データはまだありません
        </p>
    {% endif %}
{% endblock %}