{% extends "base.html" %}

{% block title %}
月別収支集計表 | 家計簿アプリ
{% endblock %}

{% block content %}

    <section class="page-header">
        <h1>月の収支確認表</h1>
        <p>指定した月の収入・支出・差額を確認します</p>
    </section>

    <div class="page-actions link-box">
        <a 
            class="backtop-link"
            href="{{ url_for('index') }}">
            トップページへ戻る
        </a> 
    </div>

    {% if errors %}
        <div 
            class="error-box link-box"
            role="alert"
        >
            <p>入力内容を確認してください</p>

            <ul>
                {% for error in errors%}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form 
        class="search-card"
        method="post"
    >
        <div class="search-field">
            <label class="form-label" for="month">年月</label>
            <input
            class="form-control"
            type="month"
            name="month"
            id="month"
            value = "{{ month or '' }}"
            >
        </div>

        <button 
            class="submit-button"
            type="submit">
            集計する
        </button>
    </form>

    

    {% if data_exists is true %}
        <section class="result-section">
            <div class="result-header">
                <h2>{{ month }}の収入・支出・差額</h2>
            
                <a 
                    class="text-link"
                    href="{{ url_for('month_summary_graph', month = month)}}">
                    グラフで見る
                </a>
            </div>
        
            <div class="summary-grid">
                <div class="summary-item">
                    <span class="summary-label">
                        収入
                    </span>
                    
                    <strong class="summary-value income-value">
                        {{ income }}円
                    </strong>
                </div>

                <div class="summary-item">
                    <span class="summary-label">
                        支出
                    </span>
                    
                    <strong class="summary-value expense-value">
                        {{ expense }}円
                    </strong>
                </div>

                <div class="summary-item">
                    <span class="summary-label">
                        差額
                    </span>
                    
                    <strong class="summary-value">
                        {{ balance }}円
                    </strong>
                </div>
            </div>
        </section>

    {% elif data_exists is false %}
        <p class="empty-message link-box">指定された月の家計簿データはまだありません</p>
    {% endif%}
{% endblock %}